body {
	font-family: sans-serif;
}
.heading h2{
    text-align: center;
}
.stuffs {
width: 1170px;
padding: 0 15px;
margin: 0 auto;
}

a{
text-decoration: none;
}

.stuff {
    float: left;
    width: 25%;
}

.stuff-icon {
    position: relative;
  
  }

.checked {
    color: orange;
  }

.btn-wrapper {
    margin: 20px 0;
  }

.btn-wrapper a{
    color: white;
}

.btn{
    border-radius: 4px;
}

.detail {
    background-color: #432eff;
    margin-right: 10px;
    padding: 8px 10px;
    box-shadow: 0 3px #221b80
  }

.keranjang {
    background-color: red;
    padding: 8px 10px;
    cursor: pointer;
    box-shadow: 0 3px #5f0505
}
.btn:active {
    box-shadow: none;
    position: relative;
    top: 3px;
  }
.fa-solid {
    margin-left: 5px;
}
